@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #282828;
}
.wrapper {
    justify-content: center;
    width: 400px;
    height: 355px;
    background: #282828;
    box-shadow: 0 0 30px #57e5ff;
    border-radius: 20px;
    padding: 12px;
    overflow: hidden;
}

.form-wrapper .forgotPassword{
    display: flex;
    width: 50%;
    height: 100%;
    transition : 1s ease-in-out;
}
h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-top:25px;
}

.input-group {
    position: relative;
    margin: 25px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: -5px;

}

button{
    width: 100%;
    height: 40px;
    background: #57e5ff;
    box-shadow: 0 0 10px #57e5ff;
    font-size:16px;
    color: #000;
    font-weight:500;
    cursor:pointer;
    border-radius:30px;
    border:none;
    outline:none;
    margin-top: 25px;
}
.wrapper#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:600px;
    padding:50px;
    box-shadow: 0 2px 10px #57e5ff;
    background: #282828;
    visibility: hidden;
    opacity:0;
    transition:1s;
    text-align:center;

}
#popup.active{
    top:40%;
    visibility:visible;
    opacity:1;
    transition:1.5s;
}

#popup img{
    width:100px;
    height:100px;
    margin-top: -150px;
    margin-bottom:10px;
}

#popup p{
    font-size: 25px;
    color: #fff;
    padding:10px;
}

button:hover{
    background:#0031c4;
    color: #fff;
}
.goBack-link{
    font-size:14px;
    text-align:center;
    margin:25px 0;
    padding: 20px;
}

.goBack-link p{
    color: #fff;
}

.goBack-link p a{
    color:#57e5ff;
    text-decoration:none;
    font-weight:500;

}

.goBack-link a:hover{
    color:#0031c4;
    text-decoration:underline;
}