@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #282828;
}

.mfa-card{
    top:40%;
        visibility:visible;
        opacity:1;
        transition:1.5s;
    text-align:center;
    background-color:#282828;
    border-radius:20px;
    padding:3rem;
    box-shadow:0 20px 40px -20px #57e5ff;
    z-index:5;
}
.mfa-card h1{
    color:#57e5ff;
}
.mfa-inputs{
    margin:30px 0;
    display:grid;
    gap:30px;
    justify-content:center;
    grid-template-columns:repeat(5,auto);
}

.mfa-inputs input{
    width:60px;
    height:70px;
    font-size:35px;
    text-align:center;
    border-radius:20px;
    border:1px solid #57e5ff;
}

.mfa-inputs input:focus{
    outline:2px solid #57e5ff;
    border-color:transparent;
}
.mfa-card button{
    background-color:#3fefef;
    border:none;
    padding:15px 50px;
    font-size:18px;
    color:#000;
    border-radius:20px;
    cursor:pointer;
    margin-top:15px;
}
.mfa-card button:hover{
    opacity:9;
    background-color:#1c92a7;
}
.mfa-card button[disabled]{
    opacity:6;
    cursor:default;
    background-color:#413a3a;
}