@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: right;
    margin-right: 150px;
    align-items: center;
    min-height: 100vh;
    background: #282828;
}



.logo{
    position: absolute;
    top:60px;
    left:50%;
    transform:translateX(-130%);
}
.title{
    position:relative;
    top:150px;
}

.wrapper {
    position: absolute;
    justify-content: center;
    width: 400px;
    height: 595px;
    background: #282828;
    box-shadow: 0 0 30px #57e5ff;
    border-radius: 20px;
    padding: 12px;
    overflow: hidden;
}
.logo img{
    width: 400px;
    height: 400px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition : 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in{
    transform:translateY(-555px)
}

.wrapper.form-wrapper.sign-up{
    position: absolute;
    top: 400px;
    left: 0;
}
.wrapper.active .form-wrapper.sign-up{
    transform:translateY(-570px)
}

.wrapper.form-wrapper.sign-in{
    position: absolute;
    top: 400px;
    left: 0;
}
h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;

}

.title h1 {
    font-size: 50px;
    color: #fff;
    margin-right:625px;
    margin-top: 100px;
    font-weight: 500;
    color: #413a3a;
    letter-spacing:2px;
    cursor:pointer;

}

.title h1 span{
    transition: 0.5s;
}

.title h1:hover span:nth-child(1){
    margin-right: 15px;
}

.title h1:hover span:nth-child(2){
    margin-right: 17px;
}
.title h1:hover span:nth-child(1){
    margin-right: 19px;
}

.title h1:hover span{
    color: #fff;
    text-shadow: 0 0 10px #57e5ff,
                 0 0 20px #57e5ff,
                 0 0 30px #57e5ff,
                 0 0 40px #57e5ff,
                 0 0 50px #57e5ff,
                 0 0 60px #fff;

                 
}
h3 {
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.input-group {
    position: relative;
    margin: 15px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: -5px;

}

.remember {
    margin: 15px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember label input {
    accent-color: #57e5ff;
}

.remember label {
    color: #345;
    font-size: 14px;
}

.remember label input{
    accent-color: #57e5ff;
}

button{
    position:relative;
    width: 100%;
    height: 40px;
    background: #57e5ff;
    box-shadow: 0 0 10px #57e5ff;
    font-size:16px;
    color: #000;
    font-weight:500;
    cursor:pointer;
    border-radius:30px;
    border:none;
    outline:none;
}
button:hover{
    background: #0031c4;
    color:#fff;
    box-shadow: 0 0 10px #57e5ff;

}
.signUp-link{
    font-size:14px;
    text-align:center;
    margin:15px 0;
    padding: 5px;
}

.signUp-link p{
    color: #fff;
}

.signUp-link p a{
    color:#57e5ff;
    text-decoration:none;
    font-weight:500;

}

.signUp-link p a:hover{
    color:#0031c4;
}



.remember a{
    color:#57e5ff;
    text-decoration:none;
    font-weight:500;
}

.remember a:hover{
    text-decoration:underline;
    color:#0031c4;
}

.signUp-link p a:hover{
    text-decoration:underline;
}

.fingerprint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.fingerprint .fingerprintBox{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    box-shadow: 5px 5px 10 px rgba(0,0,0,0.1),
    -5px -5px 10 px #fff;
    border: 3px solid #57e5ff;
    padding: 10px 0px 10px;
    border-radius: 15px;
    background: linear-gradient(315deg, #282828,#413a3a);
    max-width: 100px;
    height:115px;
}
.fingerprint .fingerprintBox:hover
{
    background: #282828;
}

fingerprint .fingerprintBox img {
    filter: invert(1);
    animation: animate 1s linear infinite;
    padding:20px;
}
@keyframes animate{
    0%,100%
    {
        opacity:1;
    }
    50%{
        opacity: 0.5;
    }
}

.emailText, .passText, .confirmPassText{
    
    color:#0ea015;
}
 
label.valid::before,
label.invalid::before{
    content:"";
    position:absolute;
    width:24px;
    height:24px;
    top:18px;
    right:5px;
    z-index:100;
}
